{% extends "base.html.twig" %}

{% block body %}
<div class="center">
    <h1>Kontaktní údaje</h1>
</div>

<div class="a_index">
	<a href="{{ path('homepage_default') }}">Zpět na hlavní stránku</a>
</div>

{% endblock %}