{% extends "base.html.twig" %}

{% block body %}
<div class="container">
        <form method="post" class="form" id="login">


            {% if app.user %}
                <div class="logged">
                    <h1>Už jsi přihlášen/a jako {{ app.user.email }}
                     <a href="{{ path('app_logout') }}">Odhlásit se</a>
                </div>
            {% else %}
                 

            <h1 class="form__title">Přihlášení</h1>
            <div class="form__message form__message--error">
              Špatné přihlašovací jméno, nebo heslo.
            </div>
            <div class="form__input-group">
              <input type="text" placeholder="E-mail" value="{{ last_username }}" name="email" id="inputEmail" class="form__input" autocomplete="email" required autofocus>
              <div class="form__input-error-message">error message</div>
            </div>
{% endblock %}