{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            Homepage default
        </div>
    </div>
    <body>
    <div class="bs-docs-section clearfix text-center-gray">
      {{app.user ? app.user.email : 'neprihlasen' }}

        <a href="/{{ app.user ? 'logout' : 'login' }}">
            {{ app.user ? 'Logout' : 'Login' }}
        </a>
    </div>
</body>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}

