
 {% extends "base.html.twig" %}



{% block body %}



<div class="center">
	<div class="col-lg-12">
		<h1>Jsme rádi že tě tu máme!</h1>
	</div>
</div>

<div class="p_home">
	<h3>Pro přihlášení k akci je potřeba se nejprve přihlasit / registrovat</h3>

	<p>
		Seznam všech dostupných akcí na které se lze přihlasit najdete
		<a href="{{path('no_user_index')}}">ZDE</a><br>
		Pro registraci stačí kliknout
		<a href="{{path('app_register')}}">ZDE</a><br>
		A pro přihlášení
		<a href="{{path('app_login')}}">ZDE</a>
	</p>
</div>



{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}

