<head>
	<meta charset="utf-8">
	<title>xdusek events</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url("homepage_default") }}layouts/custom/css/base.css" />




{# <div class="no-underline hover:underline bs-docs-section clearfix">
      {{app.user ? app.user.email : 'neprihlasen' }}

        <a href="/{{ app.user ? 'logout' : 'login' }}">
            {{ app.user ? 'Logout' : 'Login' }}
        </a>
    </div> #}
</head>