{% extends 'base.html.twig' %}

{% block title %}Nový Uživatel{% endblock %}

{% block body %}
<div class="nadpis">
    <h1 class="center">Vytvořit nového uživatele</h1>
</div>

<div class="container">
    {{ include('user/_form.html.twig') }}
</div>

    <a href="{{ path('app_user_index') }}">Zpět na přehled</a>
{% endblock %}
