{% extends 'base.html.twig' %}

{% block body %}
    <h1>Events</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.name }}</td>
                    <td><a href="{{ path('joined_show', {'id': event.id}) }}">Show</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}