<footer class="footer">
	<div class="footer-container">
		<div class="footer-row">
			<div class="footer-col">
				<h4>Web</h4>
					<ul>
						<li><a href="#">O nás</a></li>
            <li><a href="#">Registrace</a></li>
            <li><a href="#">Seznam akcí</a></li>
					</ul>
			</div>
			<div class="footer-col">
				<h4>Podpora</h4>
					<ul>
						<li><a href="#">Kontaktuj nás</a></li>
            		</ul>
			</div>
			<div class="footer-col">
				<h4>Rychlé odkazy</h4>
					<ul>
						<li><a href="#">Index</a></li>
            			<li><a href="#">Registrace</a></li>
            			<li><a href="#">Přihlášení</a></li>
					</ul>
			</div>
			<div class="footer-col">
				<h4>Sleduj nás</h4>
				<div class="social-links">
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-linkedin-in"></i></a>
				</div>
			</div>
	</div>
</footer>
